.search {
  background-image: url("/images/search.png");
}

.search-nav {
  background-image: url("/images/search-nav.png");
}

.close {
  background-image: url("/images/close.png");
}

.menu {
  background-image: url("/images/menu.png");
}
