.sunrise {
  background-image: url("/images/sunrise.png");
}

.sunset {
  background-image: url("/images/sunset.png");
}

.humidity {
  background-image: url("/images/humidity.png");
}

.wind {
  background-image: url("/images/wind.png");
}

.pressure {
  background-image: url("/images/pressure.png");
}

.uv {
  background-image: url("/images/uv.png");
}
